body {
    background-color: #f5f5f5; 
    font-family: 'Segoe UI', Tahoma Verdana, sans-serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    text-align: right;
    background-color: #42b983;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
  }
  
  .header-title {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: auto;
  }
  
  header button {
    background-color: #fff;
    color: #42b983;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 25px;
  }
  
  header button:hover {
    background-color: #42b983;
    color: #fff;
  }
  
  header button:first-child {
    margin-right: 10px;
  }
  

  

h1 {
    font-size: 30px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
  }
  
  h3 {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    margin: 20px;
  }
  
  form {
    text-align: center;
    margin-bottom: 25px;
  }
  
  input {
    margin-top: 4px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-anchor {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42b983;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .centered-anchor:hover {
    background-color: #35a26b;
  }
  
  .centered-button {
    margin-bottom: 25px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #42b983;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .centered-button:hover {
    background-color: #35a26b;
  }
  
  .centered-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(66, 185, 131, 0.5);
  }
  
  .goalComponent {
    position: relative;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .goalComponent:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .goalComponent p {
    font-size: 16px;
    color: #333;
  }
  
  .goalComponent .center-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #42b983;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .goalComponent .center-button:hover {
    background-color: #35a26b;
  }
  
  .goalComponent .center-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(66, 185, 131, 0.5);
  }
  
  .centered-p {
    text-align: center;
  }
  
  .progress-bar-container {
    width: 100%;
    height: 75px;
    background-color: #f0f0f0;
    /* Add any additional styling for the progress bar container */
  }
  
  .progress-bar {
    height: 100%;
    background-color: #42b983;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /* Add any additional styling for the progress bar */
  }

  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
    color: black;
    font-weight: bold;
  }

  .delete-goal-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }  

  .delete-goal-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #42b983;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .delete-goal-container .delete-goal-button:hover {
    background-color: #35a26b;
  }
  
  .homepage-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #42b983;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .homepage-button:hover {
    background-color: #35a26b;
  }

  .h2-completed {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #42b983;
    margin-top: 20px;
  }
  
  .p-completed {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 10px;
  }